<div class="row industrial">
  <div class="col-md-10 col-xl-8 mx-auto">
    <div class="row">
      <div class="col-6">
        <app-statics [counter]="industrialNumber" header="تعداد وثیقه های  محل اجرای  طرح"></app-statics>
      </div>
      <div class="col-6">
        <app-statics [counter]=0 header="تعداد وثیقه های نوع یک"></app-statics>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-6">
        <app-statics [counter]=0 header="تعداد وثیقه های نوع دو"></app-statics>
      </div>
      <div class="col-6">
        <app-statics [counter]=0 header="تعداد وثیقه های نوع سه"></app-statics>
      </div>
    </div>
  </div>
</div>
