<div class="row industrialForm">
  <div class="col-md-10 col-xl-8 mx-auto">
    <div class="card mt-1">
      <div class="card-header">
        <h5>فرم محل اجرای طرح</h5>
      </div>
      <div class="card-body">
        <form class="myForm" [formGroup]="industrialForm">
          <div class="form-row">
            <div class="form-group col-md-4">
              <app-custom-input customType="text" customLabel="شناسه وثیقه" formControlName="id">
              </app-custom-input>
              <!-- <label for="id">شناسه وثیقه</label>
              <input type="text" formControlName="id" placeholder="شناسه وثیقه را وارد کنید" class="form-control" id="id">
              <span class="text-danger errorMessage" *ngIf="industrialForm.controls.id.invalid
              && (industrialForm.controls.id.touched
              || industrialForm.controls.id.errors?.dirty || submitted)
               && industrialForm.controls.id.errors?.required">شناسه وثیقه اجباری است</span> -->
            </div>
            <div class="form-group col-md-4">
              <app-custom-input customType="text" customLabel="نام مالک وثیقه" formControlName="owner">
              </app-custom-input>
                  </div>
            <div class="form-group col-md-4">
              <app-custom-input customType="date" customLabel="تاریخ ثبت وثیقه" formControlName="entryDate">
              </app-custom-input>
            </div>
            <div class="form-group col-md-4">
              <app-custom-input customType="text" customLabel="نام طرح" formControlName="name">
              </app-custom-input>
            </div>
            <div class="form-group col-md-4">
              <label for="inputAddress">نوع طرح صنعتی</label>
              <select class="form-control" formControlName="type" id="inputAddress">
                <option value="null">نوع طرح صنعتی</option>
                <option *ngFor="let type of types" [value]="type">{{type}}</option>
              </select>
            </div>
            <div style="padding-top:30px ;" class="col-md-4">
              <button type="button" class="btn btn-secondary" (click)="addAddress()">
                ثبت و ویرایش نشانی طرح </button>
            </div>
            <div *ngIf="industrialForm.value.address" class="card" style="padding: 10px;">
              <div class="card-header">
                <h6>اطلاعات سند رسمی</h6>
              </div>
              <div class="card-body row">
                <h6 class="col-4">شماره ثبت سند <span
                    class="badge badge-secondary">{{industrialForm.value.address?.registerationNumber}}</span></h6>
                <h6 class="col-4">تاریخ ثبت سند <span class="badge badge-secondary">{{industrialForm.value.address?.registerationDate}}</span></h6>
                <h6 class="col-4">محل ثبت سند <span class="badge badge-secondary">{{industrialForm.value.address?.registerationLocation}}</span></h6>
                <h6 class="col-4">شماره پلاک اصلی <span class="badge badge-secondary">{{industrialForm.value.address?.primaryPelalk}}</span></h6>
                <h6 class="col-4">فرعی <span class="badge badge-secondary">{{industrialForm.value.address?.secondaryPelak}}</span></h6>
                <h6 class="col-4">توضیحات سند <span class="badge badge-secondary">{{industrialForm.value.address?.details}}</span></h6>
              </div>
            </div>
          </div>
          <div class="form-row" formGroupName="landPropertie">
            <div class="form-group col-md-4">
              <app-custom-input customType="text" customLabel="مساحت زمین طرح" formControlName="area">
              </app-custom-input>
            </div>
            <div class="form-group col-md-4">
              <app-custom-input customType="text" customLabel="قیمت هر مترمربع" formControlName="cost">
              </app-custom-input>
            </div>
            <div class="form-group col-md-4">
              <app-custom-input customType="text" customLabel="ارزش زمین" formControlName="value">
              </app-custom-input>
            </div>
            <div class="form-group col-md-12">
              <app-custom-input customType="text" customLabel="مکان و موقعیت طرح" formControlName="location">
              </app-custom-input>
            </div>
          </div>

          <div class="form-row" formGroupName="fence">
            <div class="form-group col-md-4">
              <app-custom-input customType="text" customLabel="طول دیوار" formControlName="length">
              </app-custom-input>
            </div>
            <div class="form-group col-md-4">
              <app-custom-input customType="text" customLabel="ارتفاع دیوار" formControlName="height">
              </app-custom-input>
            </div>
            <div class="form-group col-md-4">
              <app-custom-input customType="text" customLabel="نوع دیوارکشی" formControlName="fenceType">
              </app-custom-input>
            </div>
            <div class="form-group col-md-4">
              <label for="status">وضعیت دیوارکشی</label>
              <select class="form-control" formControlName="status" id="status">
                <option value="null">وضعیت دیوارکشی</option>
                <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <app-custom-input customType="date" customLabel="تاریخ تکمیل دیوارکشی" formControlName="completedDate">
              </app-custom-input>
            </div>
            <div class="form-group col-md-4">
              <app-custom-input customType="text" customLabel="ارزش دیوارکشی" formControlName="fenceValue">
              </app-custom-input>
            </div>
          </div>
          <button type="button" (click)="onAddBuilding()" class="btn btn-secondary">افزودن ساختمان</button>

          <table *ngIf="getBuildings().controls.length>0" class="table table-bordered">
            <thead>
              <th>ردیف</th>
              <th>کاربری ساختمان</th>
              <th>تعداد طبقات</th>
              <th>مساحت زیربنا</th>
              <th>وضعیت ساختمان</th>
              <th>تاریخ تکمیل</th>
              <th>ارزش</th>
              <th>عملیات</th>
            </thead>
            <tbody formArrayName="buildings">
              <tr *ngFor="let building of getBuildings().controls; let i=index;let l=last" [formGroupName]="i">
                <td>{{i+1}}</td>
                <td>
                  <select formControlName="buildingUsage" class="form-control">
                    <option value="null">کاربری ساختمان</option>
                    <option *ngFor="let usage of usages" [value]="usage">{{usage}}</option>
                  </select>
                  <span class="text-danger" *ngIf="getBuildings().controls[i].hasError('required',['buildingUsage']) && getBuildings().controls[i].get('buildingUsage').invalid &&(getBuildings().controls[i].get('buildingUsage').touched
                  || getBuildings().controls[i].get('buildingUsage').errors?.dirty || submitted)">اجباری</span>
                </td>
                <td>
                  <app-custom-input customType="text"  formControlName="floors">
                  </app-custom-input>
                </td>
                <td>
                  <app-custom-input customType="text"  formControlName="buildingArea">
                  </app-custom-input>
                </td>
                <td>
                  <select formControlName="buildingSatus" class="form-control">
                    <option value="null">وضعیت ساختمان</option>
                    <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
                  </select>
                  <span class="text-danger" *ngIf="getBuildings().controls[i].hasError('required',['buildingSatus']) && getBuildings().controls[i].invalid &&(getBuildings().controls[i].touched
                  || getBuildings().controls[i].errors?.dirty || submitted)">اجباری</span>
                </td>
                <td>
                  <app-custom-input customType="date"  formControlName="completedDate">
                  </app-custom-input>
                </td>
                <td>
                  <app-custom-input  formControlName="value">
                  </app-custom-input>
                </td>
                <td>
                  <button *ngIf="getBuildings().controls.length > 0" (click)="deleteBuilding(i)"
                    class="btn btn-danger">حذف</button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-9"></div>
            <div class="col-2">
              <button type="button" (click)="back()" class="btn btn-danger">بازگشت</button>
            </div>
            <div class="col-1">
              <button type="submit" (click)="onSubmit()" class="btn btn-success">ثبت</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
