<div class="row industrialForm">
  <div class="col-md-10 col-xl-8 mx-auto">
    <div class="card mt-1">
      <div class="card-header">
        <h5>فرم محل اجرای طرح</h5>
      </div>
      <div class="card-body">
        <form class="myForm" [formGroup]="industrialForm">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="id">شناسه وثیقه</label>
              <input type="text" formControlName="id" placeholder="شناسه وثیقه را وارد کنید" class="form-control" id="id">
              <span class="text-danger errorMessage" *ngIf="industrialForm.controls.id.invalid
              && (industrialForm.controls.id.touched
              || industrialForm.controls.id.errors?.dirty || submitted)
               && industrialForm.controls.id.errors?.required">شناسه وثیقه اجباری است</span>
            </div>
            <div class="form-group col-md-4">
              <label for="owner">نام مالک وثیقه</label>
              <input type="text" formControlName="owner" class="form-control" id="owner" placeholder="نام مالک وثیقه را وارد کنید">
              <span class="text-danger errorMessage" *ngIf="industrialForm.controls.owner.invalid
               && (industrialForm.controls.owner.touched
               || industrialForm.controls.owner.errors?.dirty || submitted)
                && industrialForm.controls.owner.errors?.required">نام مالک اجباری است</span>


            </div>
            <div class="form-group col-md-4">
              <label for="entryDate">تاریخ ثبت وثیقه</label>
              <input type="date" formControlName="entryDate" class="form-control" id="entryDate">
              <span class="text-danger errorMessage" *ngIf="industrialForm.controls.entryDate.invalid
              && (industrialForm.controls.entryDate.touched
              || industrialForm.controls.entryDate.errors?.dirty || submitted)
               && industrialForm.controls.entryDate.errors?.required">تاریخ ثبت اجباری است</span>
            </div>
            <div class="form-group col-md-4">
              <label for="name">نام طرح</label>
              <input type="text" class="form-control" formControlName="name" id="name"
                placeholder="نام طرح را وارد کنید">
              <span class="text-danger errorMessage" *ngIf="industrialForm.controls.name.invalid
                && (industrialForm.controls.name.touched
                || industrialForm.controls.name.errors?.dirty || submitted)
                 && industrialForm.controls.name.errors?.required">نام طرح اجباری است</span>
            </div>
            <div class="form-group col-md-4">
              <label for="inputAddress">نوع طرح صنعتی</label>
              <select class="form-control" formControlName="type" id="inputAddress">
                <option value="null">نوع طرح صنعتی</option>
                <option *ngFor="let type of types" [value]="type">{{type}}</option>
              </select>
            </div>
            <div style="padding-top:30px ;" class="col-md-4">
              <button type="button" class="btn btn-secondary" (click)="addAddress()">
                ثبت و ویرایش نشانی طرح </button>
            </div>
            <div *ngIf="checkAddress()" class="card" style="padding: 10px;">
              <div class="card-header">
                <h6>اطلاعات سند رسمی</h6>
              </div>
              <div class="card-body row">
                <h6 class="col-4">شماره ثبت سند <span
                    class="badge badge-secondary">{{industrialForm.value.address?.registerationNumber}}</span></h6>
                <h6 class="col-4">تاریخ ثبت سند <span class="badge badge-secondary">{{industrialForm.value.address?.registerationDate}}</span></h6>
                <h6 class="col-4">محل ثبت سند <span class="badge badge-secondary">{{industrialForm.value.address?.registerationLocation}}</span></h6>
                <h6 class="col-4">شماره پلاک اصلی <span class="badge badge-secondary">{{industrialForm.value.address?.primaryPelalk}}</span></h6>
                <h6 class="col-4">فرعی <span class="badge badge-secondary">{{industrialForm.value.address?.secondaryPelak}}</span></h6>
                <h6 class="col-4">توضیحات سند <span class="badge badge-secondary">{{industrialForm.value.address?.details}}</span></h6>
              </div>

            </div>
          </div>


          <div class="form-row" formGroupName="landPropertie">
            <div class="form-group col-md-4">
              <label for="area">مساحت زمین طرح</label>
              <input type="text" formControlName="area" class="form-control" id="area"
                placeholder="مساحت زمین طرح را وارد کنید">
            </div>
            <div class="form-group col-md-4">
              <label for="cost">قیمت هر مترمربع</label>
              <input type="text" class="form-control" formControlName="cost" id="cost"
                placeholder="قیمت هر مترمربع را وارد کنید">
            </div>
            <div class="form-group col-md-4">
              <label for="value">ارزش زمین</label>
              <input type="text" class="form-control" formControlName="value" id="value"
                placeholder="ارزش زمین را وارد کنید">
            </div>
            <div class="form-group col-md-12">
              <label for="location">مکان و موقعیت طرح</label>
              <input type="text" class="form-control" id="location" formControlName="location"
                placeholder="مکان و موقعیت طرح را وارد کنید">
            </div>
          </div>

          <div class="form-row" formGroupName="fence">
            <div class="form-group col-md-4">
              <label for="length">طول دیوار</label>
              <input type="text" class="form-control" formControlName="length" id="length"
                placeholder="طول دیوار را وارد کنید">
            </div>
            <div class="form-group col-md-4">
              <label for="height">ارتفاع دیوار</label>
              <input type="text" class="form-control" id="height" formControlName="height"
                placeholder="ارتفاع دیوار را وارد کنید">
            </div>
            <div class="form-group col-md-4">
              <label for="fenceType">نوع دیوارکشی</label>
              <input type="text" class="form-control" formControlName="fenceType" id="fenceType"
                placeholder="نوع دیوارکشی را وارد کنید">
            </div>
            <div class="form-group col-md-4">
              <label for="status">وضعیت دیوارکشی</label>
              <select class="form-control" formControlName="status" id="status">
                <option value="null">وضعیت دیوارکشی</option>
                <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="completedDate">تاریخ تکمیل دیوارکشی</label>
              <input type="date" class="form-control" formControlName="completedDate" id="completedDate"
                placeholder="مکان و موقعیت طرح را وارد کنید">
            </div>
            <div class="form-group col-md-4">
              <label for="fenceValue">ارزش دیوارکشی</label>
              <input type="text" class="form-control" formControlName="fenceValue" id="fenceValue"
                placeholder="ارزش دیوارکشی را وارد کنید">
            </div>
          </div>
          <button type="button" (click)="onAddBuilding()" class="btn btn-secondary">افزودن ساختمان</button>

          <table *ngIf="getControls().length>0" class="table table-bordered">
            <thead>
              <th>ردیف</th>
              <th>کاربری ساختمان</th>
              <th>تعداد طبقات</th>
              <th>مساحت زیربنا</th>
              <th>وضعیت ساختمان</th>
              <th>تاریخ تکمیل</th>
              <th>ارزش</th>
              <th>عملیات</th>
            </thead>
            <tbody formArrayName="buildings">
              <tr *ngFor="let building of getControls(); let i=index;let l=last" [formGroupName]="i">
                <td>{{i+1}}</td>
                <td>
                  <select formControlName="buildingUsage" class="form-control">
                    <option value="null">کاربری ساختمان</option>
                    <option *ngFor="let usage of usages" [value]="usage">{{usage}}</option>
                  </select>
                  <span class="text-danger" *ngIf="building.hasError('required',['buildingUsage'])">اجباری</span>
                </td>
                <td>
                  <input formControlName="floors" class="form-control">
                  <span class="text-danger" *ngIf="building.hasError('required',['floors'])">اجباری</span>
                </td>
                <td>
                  <input formControlName="buildingArea" class="form-control">
                  <span class="text-danger" *ngIf="building.hasError('required',['buildingArea'])">اجباری</span>
                </td>
                <td>
                  <select formControlName="buildingSatus" class="form-control">
                    <option value="null">وضعیت ساختمان</option>
                    <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
                  </select>

                  <span class="text-danger" *ngIf="building.hasError('required',['buildingSatus'])">اجباری</span>
                </td>
                <td>
                  <input type="date" formControlName="completedDate" class="form-control">
                  <span class="text-danger" *ngIf="building.hasError('required',['completedDate'])">اجباری</span>

                </td>
                <td>
                  <input formControlName="value" class="form-control">
                  <span class="text-danger" *ngIf="building.hasError('required',['value'])">اجباری</span>
                </td>
                <td>
                  <button *ngIf="getControls().length > 0" (click)="deleteBuilding(i)"
                    class="btn btn-danger">حذف</button>
                </td>

              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-9"></div>
            <div class="col-2">
              <button type="button" (click)="back()" class="btn btn-danger">بازگشت</button>

            </div>
            <div class="col-1">
              <button type="submit" (click)="onSubmit()" class="btn btn-success">ثبت</button>


            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
